body {
    font-family: "Georgia";
    background: #98bfc4;
    padding: 40px;
}

:root {
    --primary-color:#2b3a35;
    --secondary-color:#98bfc4; 
    --text-color:#f2f2f2;
    --light-bg: #858585;
}


header{
    margin-bottom: 40px;
    color: var(--primary-color);
}

h1, h2, h3, h4{
    font-family: "STIX Two Text", serif;
}


.area { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}


.navigation {
    margin-bottom: 20px;
    padding: 15px;
    border-color: #2b3a35;
}

.navigation ul {
    display: flex;
    gap: 30px;
    padding-left: 0;
    color: var(--text-color);
    transition: var(--transition-speed);
    background: var(--transition-speed);
    border-color:  var(#2b3a35);
}

.navigation ul li a {
    text-decoration: none;
    color: var(--text-color);
    border-color: var(#2b3a35);
    border-width:5px;
    font-size: 22px;
    transition: var(--transition-speed);
}

.comic-relief-regular {
    background: #98bfc4;
    color: #267983;
    border: .5px solid #267983 ;
    padding: 10px 20px;
    border-radius: 15px;
    transition: 0.3s;
    text-align: center;
}
.comic-relief-regular:hover {
    background: var(--light-bg);
    color: var(--text-color);
}

.stix-two-text{
    background: #98bfc4;
    color: #267983;
    border: .5px solid #267983 ;
    padding: 10px 20px;
    border-radius: 15px;
    transition: 0.3s;
    text-align: center;
}

.stix-two-text:hover{
    background: var(--light-bg);
    color: var(--text-color);
}

.container {
    display: flex;
    gap: 60px;
}

.navigation .btn {
    font-size: 32px;
    padding: 20px 40px;
    border-radius: 25px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.header .btn:hover {
    background: var(--light-bg);
    color: var(--text-color);
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-styles {
    list-style-type: none;
}

.list{
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #2b3a35;
    border-radius: 10px;
    background: #f2f2f2;
    color: #2b3a35;

}

.stix-two-text{
  font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.newsreader {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



faq section


.footer {
    text-align: center;
    padding: 10px;
    color: white;
    background: #2b3a35;
    margin-top: 40px;
}